<app-page-headers
[title]="headerTitleParent"
[headerDescription]="headerDescriptionParent"
[headerIcon]="headerIconParent" >
</app-page-headers>

<div class="row">
  <div class="col-12">
    <div class="float-sm-left" >
      <a href=""
       routerLink="./new"
       class="btn btn-primary">
          Add New Customer
        <i class="fas fa-plus-circle"></i>
      </a>
    </div>
  </div>
</div>


<table class="table">
  <thead>
      <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Is Guy</th>
          <th scope="col">notes</th>
          <th scope="col">Birth day</th>
         
      </tr>

  </thead>
      <tbody>
         
          <tr [ngClass]="{'odd':isOdd,'even': isEven}" 
          *ngFor=
           "let customer of customersModel;
           even as isEven;
           odd as isOdd" >
              <td>{{customer.firstName |nameFix |nameSuffix:customer.isGuy |uppercase}}</td>
              <td [style.font-size.px]="customer.email.length">{{customer.email}}</td>
              <td>{{customer.isGuy }}</td>
              <td>{{customer.notes}}</td>
              <td   [ngClass]="{
                  'past': isAlreadyHaveBirthdayThisYear(customer.birthday),
                  'future': !isAlreadyHaveBirthdayThisYear(customer.birthday)
              }">{{customer.birthday |date :'MM/yyyy'}}</td>         
          </tr>
      </tbody>
</table>


<br/>
<br/>
<br/>
